<html>
<head>
<title>Employee Management</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script
	src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<!-- CSS -->
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
<!-- Default theme -->
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
<!-- Semantic UI theme -->
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
<!-- Bootstrap theme -->

<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.rtl.min.css" />
<!-- Default theme -->
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.rtl.min.css" />
<!-- Semantic UI theme -->
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.rtl.min.css" />
<script>
function saveEmployee() {
    if (!validateRegistration()) {
        var inputPayload = {
            "firstName": $("#firstName").val(),
            "lastName": $("#lastName").val(),
            "age": $("#age").val(),
            "email": $("#emailId").val(),
            "contact": $("#contact").val(),
            "userName": $("#username").val(),
            "password": $("#password").val(),
            "gender": $("#salaryId").val(),
            "address": $("#addressId").val(),
            "salary": $("#salary").val(),
            "dept": $("#deptId").val(),
        }
        var inputPayloadString = JSON.stringify(inputPayload);
        jQuery.ajax({
            type: 'POST',
            cache: true,
            async: false,
            contentType: 'application/json',
            dataType: 'json',
            url: location.origin+"/employee",
            data: inputPayloadString,
            success: function(data) {
                clearAllFormData();
                alertify.alert('Confirmation', 'Suceesfully Created!!',
                    function() {});
            },
            error() {
                clearAllFormData();
                alertify.alert('Confirmation', 'Suceesfully Created!!',
                    function() {});
            }
        });
    }

}

function clearAllFormData() {
	$("#firstName").val('');
	$("#lastName").val('');
	$("#age").val('');
	$("#emailId").val('');
	$("#contact").val('');
	$("#username").val('');
	$("#salaryId").val('');
	$("#addressId").val('');
	$("#deptId").val('');
	$("#password").val('')
}


function validateRegistration() {
    var isValidationFailed = false;
    debugger;
    if ($("#firstName").val() == '') {
        document.getElementById("firstNameSpanId").style.display = 'block';
        isValidationFailed = true;
    } else {
        document.getElementById("firstNameSpanId").style.display = 'none';
    }


    if ($("#contact").val() == '') {
        document.getElementById("contactSpanId").style.display = 'block';
        isValidationFailed = true;
    } else {
        document.getElementById("contactSpanId").style.display = 'none';
    }

    if ($("#salaryId").val() == '') {
        document.getElementById("salarySpanId").style.display = 'block';
        isValidationFailed = true;
    } else {
        document.getElementById("salarySpanId").style.display = 'none';
    }

    if ($("#username").val() == '') {
        document.getElementById("usernameSpanId").style.display = 'block';
        isValidationFailed = true;
    } else {
        document.getElementById("usernameSpanId").style.display = 'none';
    }

    if ($("#password").val() == '') {
        document.getElementById("passwordSpanId").style.display = 'block';
        isValidationFailed = true;
    } else {
        document.getElementById("passwordSpanId").style.display = 'none';
    }

    if ($("#deptId").val() == '') {
        document.getElementById("departmentSpanId").style.display = 'block';
        isValidationFailed = true;
    } else {
        document.getElementById("departmentSpanId").style.display = 'none';
    }



    return isValidationFailed;


}
	
	
	
	
	
</script>



</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<i>New Employee Registration</i>
			</div>
			<form>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="email">First Name:<span style="color: red"><b>*</b></span></label>
								<input type="text" class="form-control" id="firstName"
									placeholder="Please Enter First Name"> <span
									style="color: red; display: none" id="firstNameSpanId">Please
									Enter First Name</span>
							</div>

						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="email">Last Name:</label> <input type="text"
									class="form-control" id="lastName"
									placeholder="Please Enter Last Name">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="email">Age:</label> <input type="number"
									class="form-control" id="age" placeholder="Please Enter age">
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="email">Email:</label> <input type="email"
									class="form-control" id="emailId"
									placeholder="Please Enter Email">
							</div>

						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="email">Contact:<span style="color: red"><b>*</b></span></label>
								<input type="number" class="form-control" id="contact"
									placeholder="Please Enter contact"> <span
									style="color: red; display: none" id="contactSpanId">Please
									Enter Contact</span>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="email">Salary:<span style="color: red"><b>*</b></span></label>
								<input type="number" class="form-control" id="salary"
									placeholder="Please Enter Salary"> <span
									style="color: red; display: none" id="salarySpanId">Please
									Enter Salary</span>
							</div>
						</div>
					</div>



					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="email">Username:<span style="color: red"><b>*</b></span></label>
								<input type="text" class="form-control" id="username"
									placeholder="Please Enter UserName"> <span
									style="color: red; display: none" id="usernameSpanId">Please
									Enter Username</span>
							</div>

						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="email">Password:<span style="color: red"><b>*</b></span></label>
								<input type="password" class="form-control" id="password"
									placeholder="Please Enter Password"> <span
									style="color: red; display: none" id="passwordSpanId">Please
									Enter Password</span>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="email">Department:<span style="color: red"><b>*</b></span></label>
								<select class="form-control" id="deptId">
									<option value="">Select Department</option>
									<option value="Engineering">Engineering</option>
									<option value="HR">HR</option>
									<option value="Finance">Finance</option>
									<option value="IT">IT</option>
									<option value="Admin">Admin</option>
								</select> <span style="color: red; display: none" id="departmentSpanId">Please
									Enter Department</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<label for="Gender">Gender:<span style="color: red"><b>*</b></span></label>
							<label class="radio-inline"> <input type="radio"
								name="gender">Female
							</label> <label class="radio-inline"><input type="radio"
								name="gender">Male</label>
						</div>
						<span style="color: red; display: none" id="genderSpanId">Please
							Select Gender</span>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<label for="email">Address:</label>
							<textarea rows=5 cols="155" class="form-control"
								placeholder="Please Enter Address" id="addressId"></textarea>

						</div>
					</div>
				</div>
				<div class="panel-footer">
					<button type="button" class="btn btn-primary"
						onclick="saveEmployee()">Submit</button>
				</div>
			</form>


		</div>

	</div>
	</div>
</body>
</html>